* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#template-io7z {
    flex-wrap: wrap;
    min-height: auto;
    display: block;
    text-align: center;
    margin: 100px020px0;
}

#template-ibur {
    padding: 0000;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    flex-wrap: wrap;
    margin: 0100px0100px;
}

#template-i07ch {
    color: black;
    width: 30%;
    height: 50%;
}

#template-is0h {
    display: flex;
    align-items: center;
    justify-content: center;
}

#template-ine2o {
    align-items: center;
    justify-content: center;
    transform: translateX(0px)translateY(0px);
    min-height: auto;
}

#template-i7mju {
    flex-basis: 50%;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1pxsolid#d0d0d0;
    border-radius: 10px10px10px10px;
}

#template-igolf {
    padding: 0000;
    margin: 0350px0350px;
}

#template-i14nk {
    color: black;
    width: 40px;
}

#template-irhkf {
    font-size: 15px;
    color: #040404;
    font-family: Helveticasans-serif;
}

#template-inbe9 {
    flex-basis: 50%;
    display: flex;
    margin: 050px050px;
}

#template-ijga5 {
    flex-basis: 50%;
    display: flex;
    margin: 050px050px;
}

#template-iho1t {
    display: flex;
    padding: 0000;
}

#template-imvki {
    flex-basis: 50%;
    display: flex;
    margin: 050px050px;
}

#template-iai8w {
    flex-basis: 50%;
    display: flex;
    margin: 050px050px;
}

#template-idvp8 {
    display: flex;
    padding: 0000;
}

#template-ixis9 {
    background-color: #ffffff;
    border-radius: 10px10px10px10px;
    border: 1pxsolid#d0d0d0;
}

#template-ifuh7 {
    flex-basis: 50%;
    display: flex;
    margin: 050px050px;
    min-height: auto;
}

#template-il7xq {
    background-color: #ffffff;
    border-radius: 10px10px10px10px;
    border: 1pxsolid#d0d0d0;
}

#template-iwboh {
    flex-basis: 50%;
    display: flex;
    margin: 050px050px;
    min-height: auto;
}

#template-ioqpx {
    display: flex;
    padding: 0000;
}

#template-issvi {
    padding: 10px;
    font-family: Georgiaserif;
    font-size: 13px;
}

#template-iuhli {
    width: 20px;
    height: 20px;
}

#template-ikbml {
    margin: 00010px;
    font-family: Helveticasans-serif;
}

#template-ihqp9 {
    display: inline-block;
    padding: 5px;
    min-width: 50px;
    color: #6d84ff;
    font-family: Helveticasans-serif;
}

#template-i0y5g {
    font-family: Helveticasans-serif;
}

#template-imjh6 {
    display: inline-block;
    padding: 5px;
    min-width: 50px;
    color: #6d84ff;
    font-family: Helveticasans-serif;
}

#template-ixp92 {
    display: flex;
    min-height: auto;
    align-items: center;
}

#template-ilwtk {
    padding: 0000;
}

#template-izhoo {
    flex-basis: 50%;
    display: block;
    flex-wrap: wrap;
    margin: 050px050px;
}

#template-if1j8 {
    width: 100%;
    height: 50px;
    background-color: #6d84ff;
    border-radius: 10px10px10px10px;
}

#template-ily9v {
    display: flex;
    flex-basis: 50%;
    transform: translateX(0px)translateY(0px);
    margin: 050px050px;
    min-height: auto;
    align-items: flex-end;
}

#template-iyiz8 {
    display: flex;
    padding: 0000;
}

#template-i8bxf {
    flex-wrap: wrap;
}

#template-i4t79 {
    color: #060606;
    font-weight: 600;
    font-size: 20px;
}

#template-ivffn {
    display: flex;
    min-height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#template-iohcl {
    padding: 0000;
}

#template-i1ve4 {
    color: #373737;
    font-family: Helveticasans-serif;
}

#template-il40s {
    display: inline-block;
    padding: 5px;
    min-width: 50px;
    color: #6d84ff;
}

@media(max-width:768px) {
    .gjs-row {
        flex-wrap: wrap;
    }
}

table.table-bordered {
    border: 0px solid black;
    margin-top: 20px;
    text-align: left;
    table-layout: auto;
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 0 0px;
}

table.table-bordered>thead>tr>th {
    border: 0px solid black;
    padding: 15px 15px;
    color: rgb(255, 255, 255);
    background-color: #285575;
    margin: 0px 5px;
}

.table-striped>tbody>tr:nth-child(even)>td,
    .table-striped>tbody>tr:nth-child(even)>th {
    background-color: #dcdcdc;
    color: black;
}

.table-curved {
    border-radius: 8px;
    th: first-child {
            border-radius: 8px 0 0 8px;
}

th:last-child {
    border-radius: 0 8px 8px 0;
}
    }

table.table-bordered>tbody>tr>td {
    border: 0px solid black;
    margin: 0px 0px;
    padding: 15px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h2 {
    margin: 20px;
}

.table-striped {
    border-radius: 7px;
}

.tableBg {
    padding: 10px;
    margin: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(36, 35, 35, 0.2);
    border: #ECECEC 1px solid;
}

#template-irca {
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 10px;
}

#myGrid {
    width: auto;
    height: 32%;
}

.bottomPage {
    margin: 20px;
}